@yellow: #dbcc65;
@red: #aa5452;
@blue: #5fc6ce;

.for			{ background-color: @blue; }
.against	{ background-color: @red; }
.noStand	{ background-color: @yellow; }
.NA				{ background-color: gray; }

.niceTouchTarget() {padding: 16px 20px 16px;}

body#politiko {
	// background-color: #444;
}

.highlight {
	color: white;
}

div.navbar.politiko {
	a.brand {
		margin-left: 0px;
	}
	a.brand, .nav > li > a {
		.niceTouchTarget();
	}
}

// inverse (dark)
.navbar.navbar-inverse .divided li {
	border-left: 1px solid rgba(0,0,0,0.1);
	&:last-child {
		border-right: 1px solid rgba(0,0,0,0.1);
	}
}

// standard

.navbar .divided li {
	border-left: 1px solid rgba(0,0,0,0.1);
	&:last-child {
		border-right: 1px solid rgba(0,0,0,0.1);
	}
}

div.navbar.politiko .navbar-inner {
	// background: none;
	border: 0px;
	box-shadow: none;
}

.issue-list {
	margin-top: 20px;
	li.issue {
		height: 52px;
		position: relative;
		&.active {
			border-radius: 4px;
			background-color: #333;
			color: #999;
		}
		a {
			.niceTouchTarget();
			position: absolute;
		}
		label {
			width: 72px;
		}
	}
}

.stance .radio.inline {
	vertical-align: top;
}

#donate {
	margin: 0px;
	button {
	  background:none;
	  border:none;
	  font-size:1em;
	  color:#999;
	  padding: 16px 20px 16px;
	  &:hover {
	  	color: white; 
	  	// color: #333;if negative
	  }
	}
}

.quiz-panel {
	padding: 20px;
}

.result-panel {
	padding: 20px;
}